html {
  background-color: #121212;
  margin: 0;
  padding: 0;
}

* {
  padding: 0;
  border: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.5em;
}

img {
  max-width: 100%;
}

a,
button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}